/* Colors */
$dark-gray: #222;
$gray: #4F5050;
$light-gray: #ecf0f1;
$white: #ffffff;
$red: #e74c3c;

/* Definitons */
$default-shadow: 0px 2px 6px rgba(0, 0, 0, 0.20);
$radius: 4px;
$font: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;

html, body {
    margin: 0px;
    padding: 0px;
}

*, *:after, *:before {
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: $gray;
    font-family: $font;
}

input, textarea, select, button, .button, keygen {
    background: $white;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: $radius;
    padding: 4px 8px;
    font-size: 12px;
    margin: 0px 3px 3px 0px;
}

button, .button, input[type="submit"], input[type="reset"] {
    cursor: pointer;
    box-shadow: inset 0px 1000px 0px rgba(210, 210, 210, 0.3);
}
